<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home Feed</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Instagram Clone Feed</h1>
  <a href="/upload">Upload New Post</a>

  <!-- Stories Bar -->
  <div class="stories-bar">
    <% stories.forEach(s => { %>
      <div class="story-preview">
        <a href="<%= s.media %>" target="_blank">
          <img src="/uploads/<%= s.user.profilePic %>" alt="story" />
          <p><%= s.user.username %></p>
        </a>
      </div>
    <% }) %>
  </div>

  <!-- Feed -->
  <div class="feed">
    <% posts.forEach(post => { %>
      <div class="post">
        <div class="post-header">
          <img src="<%= post.profilePic %>" alt="Profile Pic">
          <span><%= post.username %></span>
        </div>
        <img src="<%= post.postImage %>" alt="Post Image" class="post-img">
        <p><strong><%= post.username %></strong> <%= post.caption %></p>
      </div>
    <% }) %>
  </div>
</body>
</html>
